{% extends 'base.html.twig' %}

        {% block container %}
          <span class="navbar-brand">BlaBlaArticle</span>
          <a class="btn btn-primary" href="{{ path('app_login') }}">Войти</a>
        {% endblock %}

{% block try %}
{% endblock %}

{% block body %}
  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

          <h2 class="card-title text-center mb-4">Создание статьи</h2>

          <div class="alert alert-info" role="alert">
            Чтобы создать статью по настоящему <a href="{{ path('app_register') }}">Зарегистрируйтесь</a>
          </div>
          
          <form class="form-signin">
            <div class="form-label-group">
              <input type="email" id="articleTitle" class="form-control" placeholder="Заголовок статьи" required autofocus value="Тестовая статья" disabled>
              <label for="articleTitle">Заголовок статьи</label>
            </div>
            <div class="form-label-group">
              <input type="email" id="articleWord" class="form-control" placeholder="Продвигаемое слово" required disabled>
              <label for="articleWord">Продвигаемое слово</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" disabled>Попробовать</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Готовы начать? Регистрируйтесь прямо сейчас!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="form-row">
            <div class="col-12 col-md-6 mx-auto">
              <a href="{{ path('app_register') }}" class="btn btn-block btn-lg btn-primary">Регистрация</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; BlaBlaArticle 2020.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-vk fa-2x fa-fw"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset("vendor/jquery-easing/jquery.easing.min.js") }}"></script>
  <script src="{{ asset("js/scripts.js") }}"></script>
{% endblock %}